
.itemcontainer {
    padding: 20px 10px;
    border-bottom: 2px solid rgb(200, 200, 200);
    &:hover {
       background-color: rgb(200, 200, 200);
    }
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.field {
    flex-basis: 20%;
}