
.container {
    width: 100vw;
    height: 60px;
    display: flex;
    background-color: #000000;
    align-items: center;
    justify-content: flex-start;
    div {
        margin-left: 100px;
        color: #eff6fc;
    }
}
